{% autoescape off %}
<h2>Password Reset Request</h2>
<p>Hello,</p>

<p>We received a request to reset your password for your Galleria Farms CRM account. Click the link below to reset it:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Reset Password
</a></p>

<p>If you didn't request this, please ignore this email. Your password will remain the same.</p>

<p>Thanks,</p>
<p><strong>Galleria Farms CRM Team</strong></p>
{% endautoescape %}