{% extends "crm/base.html" %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Set a New Password</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    <input type="password" name="new_password1" class="form-control" id="id_new_password1" required>
                </div>
                <div class="form-group">
                    <label for="id_new_password2">Confirm New Password</label>
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
